body{
	margin: 0;
}
#all{
	width: 100%;
	height: 570px;
	background-color: #696969;
	margin: auto;
}
body header{
	padding-top: 0;
	width: 100%;
	background-color: #00BFFF;
}
body header h1{
	margin: 0;
	text-align: center;
	color: #FFFFFF;
	font-family: Courier, sans-serif;
	font-variant: small-caps;	
}
#int{
	background-color: #DCDCDC;
	float: right;
	width: 190px;
	height:140px;
}
#all h2{
	margin-bottom: 0;
	margin-left: 310px;
	color: #FFFFFF;
	font-family: Courier, sans-serif;
	font-variant: small-caps;	
}
#lda{
	width: 400px;
	height: 250px;
	background-color: #DCDCDC;
	margin: auto;
}
#ldb{
	width: 60%;
	margin: auto;

}
input[type="text"]{
	width: 220px;
	display: block;
	margin-bottom: 10px;
}
input[type="submit"]{
	width: 30%;
	margin-top: 10px;
	border: 1px solid #00BFFF;
	background-color: #ccc;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	font-family: Courier, sans-serif;
	font-variant: small-caps;
}
input[type="submit"]:hover{
	background-color: #888;
	cursor: pointer;
}
#atu{
	border: 1px solid #00BFFF;
	background-color: #ccc;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	font-family: Courier, sans-serif;
	font-variant: small-caps;
	margin-left: 310px;
	margin-top: 10px;
}
#moni{
	margin-bottom: 35px;
	margin-top: 30px;
	border: 1px solid #00BFFF;
	background-color: #ccc;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	font-family: Courier, sans-serif;
	font-variant: small-caps;
}